DB_URL=SPRING_DATASOURCE_URL
DB_ADMIN=SPRING_DATASOURCE_USERNAME
DB_PASSWORD=SPRING_DATASOURCE_PASSWORD
ENCRYPTION_SECRET_KEY=ENCRYPTION_SECRET_KEY
JWT_SECRET_KEY=JWT_SECRET_KEY
GMAIL_USERNAME=EMAIL_ADDRESS
GMAIL_APP_PASSWORD=EMAIL_SECURITY_APP_PASSWORD